
//colors
$color-primary: #55c75a;
$color-primary-light: #7ed56f;
$color-primary-dark: hsl(160, 64%, 43%);
$color-grey-light-1: #f7f7f7;
$color-black: #000;
$color-white: #fff;

//fontsize

$default-font-size: 1.6rem;

//grids

$grid-width: 1140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
